.analysis__photo {
  background-image: linear-gradient(
      hsla(258, 50%, 49%, 0.452),
      hsla(258, 39%, 18%, 0.575)
    ),
    url(../images/analysis-photo.png);
  background-size: cover;
  background-position: center center;
  min-height: 440px;
  position: relative;
}

.analysis__button {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  padding: 1rem;
  z-index: 5555;
}

.analysis__photo span::after {
  background-color: #ffffff8c;
  content: '';
  display: block;
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 50%;
  transform: translate(-1rem, -5rem);
}

.analysis .check {
  display: inline-block;
  background: hsl(23, 97%, 90%);
  width: 4rem;
  height: 4rem;
}
