.feedback__item-photo {
  width: 9rem;
  height: 9rem;
}

.feedback .buttons button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.feedback .buttons button:first-child {
  transform: rotate(180deg);
  margin-right: 3rem;
}

.feedback .swiper-button-disabled img {
  opacity: 50%;
}

.feedback__item-text {
  padding-bottom: 7rem;
}
.feedback__slider span::after {
  content: '';
  display: block;
  background: url(../images/quote.svg);
  width: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5rem;
  top: botto;
  position: absolute;
  z-index: 99;
  bottom: 19%;
  right: 6%;
}
