.hero {
  background-image: linear-gradient(
      125deg,
      rgba(42, 34, 115, 0.733),
      rgba(255, 255, 255, 0.178)
    ),
    url(../images/bg-hero.png);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  --swiper-theme-color: var(--color-orange-dark);
}

.hero__title {
  font-family: Poppins, sans-serif;
  font-weight: bolder;
}
.hero__subtitle {
  /* font-size: 2rem; */
  padding: 0.5em;
  border-radius: 0.3em;
  border: 0.2px solid #fff;
  font-weight: 300;
}

.hero__pragraph {
  font-weight: 300;
  margin-bottom: 13rem;
}

.hero__actions {
  position: relative;
  margin-top: -11rem;
  z-index: 9999999999999999;
}

.hero .jumbotron {
  margin-top: 8rem;
}

.hero .play {
  width: 4rem;
  height: 4rem;
}
