.navbar-brand {
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  font-size: 3rem;
}

.nav-link {
  font-size: 1.4rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}
.navbar .navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}
.navbar .navbar-toggler-icon {
  background-image: url('../images/menu.svg') !important;
  width: 3rem;
  height: 3rem;
  outline: none;
}
