.newsletter__container {
  padding: 5.5rem !important;
}
.newsletter__title {
  font-family: Poppins, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
}
.newsletter__form {
  position: relative;
}
.newsletter__form input:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--border-color-on-focus);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--box-shadow-on-focus);
}

.newsletter p {
  font-size: 1.6rem;
}

.newsletter__send-button {
  width: 3.5rem;
  height: 3.5rem;
  outline: none;
  background: var(--bg-send-button);
  position: absolute;
  right: 1%;
  top: 12%;
}

.newsletter__send-button:hover {
  background: var(--bg-on-send-button-hover);
}

.newsletter__form-input {
  height: 4.7rem;
  font-size: 1.8rem;
  font-family: inherit;
}
