@media (max-width: 768px) {
  .success::before {
    width: 18rem;
  }
  html {
    font-size: 50% !important;
  }

  .newsletter__send-button img {
    width: 1.8rem;
  }
  .hero__pragraph {
    width: 93% !important;
  }
  section {
    padding: 5rem 0;
  }
  .hero {
    background-position: center center;
  }
}

@media (max-width: 995px) {
  html {
    font-size: 47% !important;
  }
}
