.success {
  background: var(--color-blue-dark);
  position: relative;
  margin: 8rem 0;
}
.success::before {
  content: '';
  display: block;
  background: url(../images/wave.svg);
  background-repeat: no-repeat;
  width: 24rem;
  height: 23rem;
  z-index: 0;
  top: 0;
  position: absolute;
  left: 0;
}
.success::after {
  content: '';
  display: block;
  background: url(../images/wave.svg);
  background-repeat: no-repeat;
  width: 24rem;
  height: 22rem;
  z-index: 0;
  bottom: -1px;
  position: absolute;
  right: -1%;
  transform: rotate(180deg);
}
.success .container {
  z-index: 50;
}
.success__stats {
  color: #fff;
}
.success__countup {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}

.success .section__subtitle--2::after,
.success .section__subtitle--2::before,
.success .section__subtitle--2 span::after,
.success .section__subtitle--2 span::before {
  background: #fff;
}
